<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 my-1">
            <div class="card shadow border border-info  border-start border-5 border-0">
              <div class="inner ps-2 row me-1">
                  <div class="col-8">
                    <h3>3</h3>
                    <p>new Requests</p>
                  </div>
                <i class="bi bi-calendar-plus text-muted fs-1 col-4 d-flex flex-row-reverse my-auto "></i>
              </div>
              <a [routerLink]="['/projects/done']" class=" card-footer text-center" style="width:100%;text-decoration: none;color: rgb(0, 0, 0);">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 my-1">
            <div class="card shadow border border-primary teal-400 border-start border-5 border-0">
              <div class="inner ps-2 row me-1">
                  <div class="col-8">
                    <h3>3</h3>
                    <p>new Requests</p>
                  </div>
                <i class="bi bi-calendar-plus text-muted fs-1 col-4 d-flex flex-row-reverse my-auto "></i>
              </div>
              <a [routerLink]="['/projects/done']" class=" card-footer text-center" style="width:100%;text-decoration: none;color: rgb(0, 0, 0);">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 my-1">
            <div class="card shadow border border-warning  border-start border-5 border-0">
              <div class="inner ps-2 row me-1">
                  <div class="col-8">
                    <h3>3</h3>
                    <p>new Requests</p>
                  </div>
                <i class="bi bi-calendar-plus text-muted fs-1 col-4 d-flex flex-row-reverse my-auto "></i>
              </div>
              <a [routerLink]="['/projects/done']" class=" card-footer text-center" style="width:100%;text-decoration: none;color: rgb(0, 0, 0);">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 my-1">
            <div class="card shadow border border-danger  border-start border-5 border-0">
              <div class="inner ps-2 row me-1">
                  <div class="col-8">
                    <h3>3</h3>
                    <p>new Requests</p>
                  </div>
                <i class="bi bi-calendar-plus text-muted fs-1 col-4 d-flex flex-row-reverse my-auto "></i>
              </div>
              <a [routerLink]="['/projects/done']" class=" card-footer text-center" style="width:100%;text-decoration: none;color: rgb(0, 0, 0);">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
          </div>
    </div>
</div>
