<div class="page">
    <div class="blue">
      <h1>Welcome</h1>
      <input class="search" type="search" placeholder="Search for stadiums and availabilities..">
    </div>
    <div class="white">
      <div class="cards">
        <div class="card">
          <img src="../../assets/bernabeu.jpg" alt="">
          <h2>Guemri stade</h2>
          <p><i class="fas fa-map-marker-alt"></i> bir lahmer, trig ghomrassen</p>
          <p><i class="fas fa-phone-alt"></i> +216 29 015 535</p>
        </div>
        <div class="card">
          <img src="../../assets/bernabeu.jpg" alt="">
          <h2>Guemri stade</h2>
          <p><i class="fas fa-map-marker-alt"></i> bir lahmer, trig ghomrassen</p>
          <p><i class="fas fa-phone-alt"></i> +216 29 015 535</p>
        </div>
        <div class="card">
          <img src="../../assets/bernabeu.jpg" alt="">
          <h2>Guemri stade</h2>
          <p><i class="fas fa-map-marker-alt"></i> bir lahmer, trig ghomrassen</p>
          <p><i class="fas fa-phone-alt"></i> +216 29 015 535</p>
        </div>
      </div>
      <div class="popup">
        <div class="chatbox__button"><a  onclick="document.getElementById('Form').style.display='block';"><img id="msg" src="../../assets/icons/message.png"/></a></div>
      <div class="chatPopup" id="Form">
        <form class="formContainer">
          <div class="boxHeader">
            <pre><p><span id="what">What's wrong ?</span>    <a class="btn cancel" onclick="document.getElementById('Form').style.display='none';">x</a></p></pre>
          </div>
          <label for="">Summary</label><br>
          <input id="a" type="text"><br>
          <label for="">Description</label><br>
          <input id="b" type="text"><br>
          <label for="">Your contact e-mail</label><br>
          <input id="c" type="email"><br>
          <button type="submit" class="btn">send</button>
        </form>
      </div>
      </div>
  
    </div>
  
  </div>
  