h1{
    text-align: center;
    color: #4CAF50;
}

#users{
    font-family: "Trubuchet";
    border-collapse: collapse;
    width: 100%;
}

#users td, #users th{
    border: 1px solid #ddd;
    padding: 8px;
}

