<div class="row">
    <div class="col-md-4">
        
        <form class="container " #f="ngForm" (ngSubmit)="submit(f)">
            <img src="../../assets/AvatarOwner.png" width=150px; class="avatar">
            <h1 class="text">WELCOME</h1>
            <div class="c">
            <div class="mb-3 " >
              <input type="text"  placeholder="Username" class="form-control form-control-lg" name="email" ngModel>
            </div>
            <div class="mb-3 ">
              <input type="password" placeholder="Password" class="form-control form-control-lg" name="password" ngModel>
            </div>
          </div>
          <div class="form-text text-danger" >{{erreur}}</div>
            <div class="mb-3 position-relative">
              <a class="position-absolute top-0 end-0" href="#" >Forgot Password ?</a>
            </div>
            <div class="mb-3 d-grid gap-2 mt-5">
                <button class="btn btn-lg" type="submit"><strong>Sign In</strong></button>
            </div>
        </form>
        <h4 class="text mb-3">Dont have an account ? <a  [routerLink]="['/owner-Signup']">Sign Up</a></h4> 
        <h6 class="text">Are you a player ? <a [routerLink]="['/Signin']">Click Here</a></h6> 
    </div>
</div>