<div class="page">
    <div class="blue">
        <h1>Welcome </h1>
        <div class="input-group">
            <input class="search" type="search" (input)="focus($event)" (blur)="visible=false" placeholder="Search for stadiums and availabilities..">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
    </div>
    <div class="list">
        <ul class="list-group" *ngIf="visible">
            <a class="list-group-item" href="#" *ngFor="let l of list">{{l.name}}</a>
        </ul>
    </div>
    <div class="my-5 row ">
        <div class="col-md-6 col-lg-4" *ngFor="let s of stadiums">
                <div class="card" [routerLink]="['/stadium/'+s._id]">
                    <img src="{{s.images[0].url}}" alt="">
                    <h2>{{s.name}}</h2>
                    <p><i class="bi bi-geo-alt"></i> adress </p>
                    <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                </div>
        </div>
        <!-- <div id="carousel1" class="carousel slide d-none d-lg-block" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"  >
                    <div class="cards">
                        <div class="card">
                            <div id="carousel4" class="carousel carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active" >
                                    <img src="../../assets/bernabeu.jpg" alt="">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="../../assets/alvaro-1639326118.jpg" alt="">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="../../assets/football.jpg" alt="">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="cards">

                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" style="width: auto;"
                data-bs-target="#carousel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" style="width: auto;"
                data-bs-target="#carousel1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div id="carouselExampleControls2" class="carousel slide d-none d-md-block d-lg-none" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="cards">
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="cards">
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" style="width: auto;"
                data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" style="width: auto;"
                data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div id="carouselExampleControls3" class="carousel slide d-sm-block d-md-none" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="cards">
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="cards">
                        <div class="card">
                            <img src="../../assets/bernabeu.jpg" alt="">
                            <h2>zorgi</h2>
                            <p><i class="bi bi-geo-alt"></i> adress </p>
                            <p><i class="bi bi-telephone"></i> +216 29 015 535</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" style="width: auto;"
                data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div> -->
    </div>
    <div class="btn-group dropup ">
        <button type="button" class="btn btn-secondary dropdown-toggle chatPopup" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-chat-left-text"></i>
        </button>
        <ul class="dropdown-menu">
            <form class="form container">
                <div>
                  <span style="  font-size: 20px;">What's wrong ?</span>
                <a class="btn cancel" >x</a>
                </div>
                <label >Summary</label><br>
                <input class="form-control" type="text"><br>
                <label >Description</label><br>
                <textarea class="form-control" rows="3" type="text"></textarea>
                <label >Your contact e-mail</label><br>
                <input class="form-control" type="email"><br>
                <button type="submit" class="btn send">send</button>
              </form>
        </ul>
      </div>      
</div>
