@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

nav{
  margin: 0px;
  padding: 0px;
  z-index: 3;
  // width: 100%;
  // position: fixed;
}
a{
  text-decoration: none;
}
.container-fluid {
  background-color: #1867d9;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.navbar-toggler{
    background-color: #fdfdfd;
}
.navbar-toggler-icon{
    background-color: white;
    
}
.navItems a,.btnSignOut {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 32px;
}
li{
    margin: 10px;
}
.navItems :hover {
  color: #1867d9;
  background-color: #fdfdfd;
  text-decoration: none;
  border-radius: 32px;
}
.navItems.active a {
  color: #1867d9;
  background-color: #fdfdfd;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px;
}
.navbar-brand {
  background-color: white;
  color: #1867d9;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  font-family: "Fugaz One", cursive;
  font-weight: bold;
  border-radius: 32px;
}
.navbar-brand.active {
  background-color: #ACD716;
  color: #ffffff;
  padding: 10px;
  font-size: 25px;
  font-family: "Fugaz One", cursive;
  font-weight: bold;
  border-radius: 32px;
}
.btnSignin {
  margin-left: 0px;
  background-color: white;
  color: #595959;
  border-radius: 32px;
  font-weight: bold;
  padding: 10px 25px;
}
.btnSignin:hover {
  background-color: white;
  color: #595959;
  border-radius: 32px;
}
.btnSignup {
  background-color: #acd716;
  color: #fff;
  border-radius: 32px;
  font-weight: bold;
  padding: 10px 15px;
}
.btnSignup:hover {
  background-color: #acd716;
  color: #fff;
  border-radius: 32px;
}
.btns{
    margin-left: auto;
}
.btnSignOut{
  
  padding: 15px 20px;
  background-color: #46525b;
}
.bi-bell,.bi-chat-dots{
  font-size: 2rem;
  color: white;
}
.dropdown-menu-1{
  max-width: 300px;
  min-width: 280px;
  padding: 0;
  left: -150px;
}
.dropdown-menu-2{
  max-width: 300px;
  min-width: 280px;
  padding: 0;
  left: -200px;
}
.messageImg{
  border-radius: 50%;
  width: 50px;
  vertical-align: middle;
  margin-right: 1rem;
}
.media{
  display: flex;
  align-items: flex-start;
}
@media (max-width: 330px){
  *{
      font-size: 10px;
  }
  .bi-bell,.bi-chat-dots{
    font-size: 0.8rem;
    color: white;
  }
  .dropdown-menu-1{
    max-width: 240px;
    min-width: 220px;
    padding: 0;
    left: -180px;
  }
  .dropdown-menu-2{
    max-width: 260px;
    min-width: 240px;
    padding: 0;
    left: -200px;
  }
  .messageImg{
    border-radius: 50%;
    width: 30px;
    vertical-align: middle;
    margin-right: 1rem;
  }
}