<!-- <footer style="position:absolute;bottom:-20;width: 100%;">  -->
<footer class="pb-2"> 
    <p><a href="https://www.hormiga-services.com" target="_blank"><img src="../../assets/hormiga.png"></a>  © copyright <b><a href="https://www.hormiga-services.com" target="_blank" > Hormiga-Services </a> </b> . All Rights Reserved  </p> 
    <a href="https://www.facebook.com/hormiga.services" target="_blank" class="mx-2">
        <i class="bi bi-facebook fs-2"></i>
    </a> 
    <a href="https://twitter.com/HormigaServices" target="_blank" class="mx-2">
        <i class="bi bi-twitter fs-2"></i>
    </a>
    <a href="https://www.linkedin.com/company/hormiga-services" target="_blank" class="mx-2">
        <i class="bi bi-linkedin fs-2"></i>
    </a>
    <a href="https://www.google.com/maps/place/HORMIGA/@33.3472895,10.4896183,15z/data=!4m5!3m4!1s0x0:0x4990aa94744bfe07!8m2!3d33.3472703!4d10.4896323" target="_blank" class="mx-2">
        <i class="bi bi-geo-alt fs-2"></i>
    </a>
    <a href="https://www.hormiga-services.com" target="_blank" class="mx-2">
        <i class="bi bi-globe2 fs-2"></i>
    </a>
<footer>
